@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* #root 의 높이를 언제나 화면의 높이와 맞춤 */
html,
body,
#root {
    height: 100%;
}

/* 프리텐다드 폰트 적용 */
html > body,
html > body input,
html > body select,
html > body textarea,
html > body pre,
html > body button {
    font-family: "Pretendard-Regular";
}